.MainChat

  .MainChat__Header
    .CurrentGroup
      %h2.CurrentGroup--Title
        TECH CAMP エンジニア転職
      %ul.CurrentGroup__MemberList
        Member：
        %li.CurrentGroup__MemberList--Member
          Tsutsujun
        %li.CurrentGroup__MemberList--Member
          Junko
    = link_to "#", class:"EditBtn" do
      Edit

  .MainChat__MessageList
    - @messages.each do |message|
      .MessageInfo
        .MessageInfo__TopBox
          %p.MessageInfo__TopBox--Name
            = message.user.name
          %p.MessageInfo__TopBox--Date
            = message.created_at.strftime("%Y/%m/%d(%a) %T")
        - if message.body.present?
          %p.MessageInfo--Text
            = message.body
        - if message.image.present?
          = image_tag message.image.url, class: "MessageInfo--Img"

  .MainChat__Footer
    = form_for [@group, @message], html: {class: "NewMessage"} do |f|
      .NewMessage__InputField
        = f.text_field :body, placeholder: "type a message", class: "NewMessage__InputField--TypingText"
        = f.label class: "NewMessage__InputField__Mask" do
          = icon('far', 'image', class: "NewMessage__InputField__Mask--ImgIcon")
          = f.file_field :image, class: "NewMessage__InputField__Mask--ImgBtnHiiden"
      = f.submit "Send", class: "NewMessage--SendBtn"
