.MainChat

  .MainChat__Header
    .CurrentGroup
      %h2.CurrentGroup--Title
        = @group.title
      %ul.CurrentGroup__MemberList
        Member：
        %li.CurrentGroup__MemberList--Member
          Tsutsujun
        %li.CurrentGroup__MemberList--Member
          Junko
    = link_to "#", class:"EditBtn" do
      Edit

  .MainChat__MessageList
    = render @messages

  .MainChat__Footer
    = form_for [@group, @message], html: {class: "NewMessage"} do |f|
      .NewMessage__InputField
        = f.text_field :body, placeholder: "type a message", class: "NewMessage__InputField--TypingText"
        = f.file_field :image, class: "NewMessage__InputField--HiddenImgBtn"
        = f.label :image, class: "NewMessage__InputField__Mask" do
          = icon('far', 'image', class: "NewMessage__InputField__Mask--ImgIcon")
      = f.submit "Send", class: "NewMessage--SendBtn"
