.SideBar

  .SideBar__Header
    .UserPlate
      .UserPlate--Name
        = current_user.name
      .UserPlate__Items
        = link_to new_group_path, class: "UserPlate__Items__Btn" do
          = icon('fas', 'edit', class: "UserPlate__Items__Btn--Icon")
          %span<>
        = link_to edit_user_path(current_user), class: "UserPlate__Items__Btn" do
          = icon('fas', 'cog', class: "UserPlate__Items__Btn--Icon")

  .SideBar__GroupList
    - current_user.groups.each do |group|
      = link_to "#", class: "GroupSnippet" do
        %p.GroupSnippet--Title
          = group.title
        %p.GroupSnippet--LastMessage
          メッセージはまだありません。
